<section id="about" class="section_about">
    <div class="container">
        <div class="section__header">
            <div class="section__text">
                <h2 class="section__suptitle">ABOUT US</h2>
                <div class="rectangle2"></div>
                <div class="section__text_1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                </div>
                <div class="section__text_2">
                    <p> Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
            </div>
            <div class="about__img">
                <img src="../img/about-img.jpg" alt="about">
            </div>
        </div>   
    </div>
</section>