<section class="contact">
  <div class="contact__header">contact
      <div class="rectangle5"></div>
  </div>
  <div class="contact__descr">
      <h3><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis <br> at velit maximus, molestie est a, tempor magna.</b></h3>
  </div>
  <div class="contact__forms">
      <form><input class="form__input_1" placeholder="Name"><input class="form__input_1" placeholder="Email"><input class="form__input_1" placeholder="Phone"></form>
      <form><input class="form__input_2" placeholder="Message"></form>
  </div>
  <div class="contact__button">
      <button class="button3">SEND MESSAGE</button>
  </div>  
</section>