<header>
    <div class="header_container">
        <nav class="header_nav" data-menu>
            <a href="#" class="header__menu">Home</a>
            <a href="#about" class="header__menu">About</a>
            <a href="#" class="header__menu">Team</a>
            <a href="#booking" class="header__menu">Booking</a>
            <a class="logo" href="#"></a>
            <a href="#" class="header__menu">Menu</a>
            <a href="#" class="header__menu">Galerie</a>
            <a href="#" class="header__menu">Events</a>
            <a href="#contact" class="header__menu">Contact</a>

        </nav>
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
    </div>
    <div class="intro">
        <div class="intro_container">
            <h1 class="intro_title">Restaurant</h1>
            <h2 class="intro_subtitle">Fancy Sailor</h2>
            <h3 class="rectangle1"></h3>
            <a href="#" class="button1">Book Table</a>
            <a href="#" class="button2">Explore</a>
        </div>
      </div>
</header>