<section class="specialties">
  <div class="specialties__header">specialties</div>
  <div class="container__img">
      <img src="../img/image.png" alt="specialties" width="475" height="475" >
  </div>
  <div class="container__title">
      <h2 class="specialties__content">chocolate pancakes</h2>
      <div class="rectangle4"></div>
      <div class="container__content1">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at <br>velit maximus, molestie est a, tempor magna.
          </p>
      </div>
      <div class="container__content2">    
          <p>
              Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non <br>
              ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a <br>
              sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla <br>
              facilisis semper laoreet.
          </p>
      </div>
  </div>  
</section>